.columnNav {
	width: 100%;
	&--item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px 10px 10px;
		min-height: 60px;
		&:not(:last-child) {
			border-bottom: 1px solid $bright3;
		}
		.btn {
			padding: 10px;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
