.noData {
    width: 100%;
    max-width: 640px;
    margin: 150px auto 0;
    text-align: center;
    color: $dark1;
    clear: both;
    float: left;
    min-width: 100%;
    &--icon {
        svg {
            width: 32px;
            height: 32px;
        }
    }
    &--title {
        margin: 20px 0;
    }
    &--paragraph {
        font-size: 16px;
    }
}