.searchBlock {
    width: 100%;
    &--header {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 100%;
        margin-bottom: 20px;
        h4 {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            display: block;
            margin-bottom: 10px !important;
        }
        p {
            margin-right: auto;
        }
        .btn:first-of-type {
            margin-right: 20px;
        }
    }
    &--container {
        background: $white;
        border: 1px solid $dark1;
        border-radius: 4px;
        margin-bottom: 40px;
    }
    &--search {
        border-bottom: 1px solid $bright3;
        input {
            font-weight: 400;
            font-size: 16px;
            color: $dark1;
            letter-spacing: 0.2px;
            line-height: 20px;
            width: 100%;
            padding: 16px 20px 14px;
            outline: none;
        }
    }
    &--items {
        min-height: 350px;
        max-height: 350px;
        overflow-y: auto;
        padding: 10px 0;
    }
    &--item {
        padding: 10px 20px 10px 45px;
        user-select: none;
        cursor: pointer;
        display: block;
        position: relative;
        margin-bottom: 0;
        .input-cr {
            &--state {
                position: absolute;
                top: 12px;
                left: 20px;
            }
            &--text {
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
        p {
            display: block;
            width: 100%;
            font-weight: 400;
            font-size: 15px;
            color: $dark1;
            letter-spacing: 0.2px;
            line-height: 24px;
        }
    }
}
