$sideNavTransitionTime: 0.35s;
@keyframes fadeInLogo {
	0% {
		opacity: 1;
		transform: translateX(0);
		width: 20.37px;
	}
	50% {
		opacity: 0;
		transform: translateX(0px);
		width: 20.37px;
	}
	51% {
		opacity: 0;
		transform: translateX(10px);
		width: 72px;
	}
	100% {
		opacity: 1;
		transform: translateX(24px);
		width: 72px;
	}
}
@keyframes fadeOutLogo {
	0% {
		opacity: 1;
		transform: translateX(24px);
		width: 72px;
	}
	50% {
		opacity: 0;
		transform: translateX(10px);
		width: 72px;
	}
	51% {
		opacity: 0;
		transform: translateX(0px);
		width: 20.37px;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		width: 20.37px;
	}
}
.sideNav {
	position: fixed;
	z-index: $z-index-sideNav;
	width: 60px;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	transition: width $sideNavTransitionTime ease;
	background-color: $dark3;
	box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.06);
	display: flex;
	align-content: space-between;
	justify-content: flex-start;
	flex-direction: column;

	&:hover {
		&:not(.is-inactive) {
			width: 160px;
			.sideNav--item-logOut {
				display: block;
			}
			.sideNav--item-link_logOut {
				opacity: 1;
			}
			.sideNav--item-notif {
				display: inline-block;
				position: relative;
				border-radius: 2px;
				color: $white;
				font-weight: 600;
				font-size: 10px;
				text-align: center;
				line-height: 14px;
				margin-left: 2px;
				position: relative;
				padding: 1px 5px;
				top: -1px;
				width: 16px;
    			height: 16px;
			}
			.sideNav--item-icon::after {
				opacity: 0;
			}
		}
	}

	&--logo {
		display: flex;
		width: 100%;
		height: 50px;
		min-height: 50px;
		margin: 0;
		padding: 0 20px;
		background-color: $dark4;
		&-inner {
			display: block;
			overflow: hidden;
			height: 30px;
			margin: auto 0;
			opacity: 1;
			animation-duration: $sideNavTransitionTime;
			animation-iteration-count: 1;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
			position: relative;
			.is-hoverOut & {
				animation-name: fadeOutLogo;
			}
			.is-hoverIn & {
				animation-name: fadeInLogo;
			}
			svg {
				display: block;
				min-width: 71.6px;
				max-width: 71.6px;
				min-height: 30px;
				max-height: 30px;
				margin: 0 auto;
			}
		}
	}

	&--items {
		overflow-x: hidden;
		overflow-y: auto;
		margin: 11px 0 auto;
		padding: 0;
		width: 100%;
		position: relative;

	}

	&--item {
		clear: both;
		width: 100%;
		margin-bottom: 1px;
		position: relative;
		&-link {
			height: 35px;
			display: flex;
			width: 100%;
			cursor: pointer;
			background-color: $dark3;
			transition: all .2s ease;
			text-decoration: none;
			color: $dark1;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			&.active,
			&:hover {
				background-color: $dark4;
				.sideNav--item-text {
					color: $white;
				}
				.sideNav--item-icon {
					box-shadow: 9px 0px 15px 3px $dark4;
					background-color: $dark4;
				}
			}
			&_help {
				.sideNav--item-icon {
					 left: -6px;
				}
				&:hover,
				&:active {
					background-color: $dark3;
					.sideNav--item-icon {
						box-shadow: 9px 0px 15px 3px $dark3;
						background-color: $dark3;
					}
				}
			}
			&_logOut {
				opacity: 0;
			}
		}
		&-icon {
			display: block;
			flex-shrink: 0;
			width: 29px;
			height: 16px;
			z-index: $z-index-sideNav-icon;
			position: absolute;
			top: 9px;
			left: 0;
			transition: all .2s ease;
			background-color: $dark3;
			box-shadow: 9px 0px 15px 3px $dark3;
			svg {
				width: 16px;
				height: 16px;
				position: relative;
				left: 22px;
				path {
					transition: fill 0.5s ease;
				}
			}
		}
		&-text {
			font-size: 11px;
			font-weight: 500;
			width: 92px;
			right: 19px;
			top: 10px;
			position: absolute;
			white-space: nowrap;
			letter-spacing: 0.8px;
			text-transform: uppercase;
			color: inherit;
			z-index: $z-index-sideNav-text;
			display: block;
			transition: all $sideNavTransitionTime ease;
			text-align: left;
		}
		&_notif {
			.sideNav--item-icon {
				&:after {
					width: 4px; height: 4px;
					display: block; 
					content: '';
					border-radius: 50%;
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(21px, -50%);
				}
			}
		}
		&-arrow {
			width: 5px;
			height: 8px;
			display: block;
			position: absolute;
			right: 20px;
			top: 13px;
			path {
				fill: $dark2;
			}
		}
	}

	&--footer {
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		.sideNav--item {
			margin-bottom: 10px;
		}
		&-bottom {
			display: flex;
			flex-direction: row;
			width: 100%;
			border-top: 1px solid $dark4;
			justify-content: flex-start;
			.sideNav--item {
				&-link {
					width: 60px;
					height: 56px;
					&:hover {
						background-color: inherit;
						.sideNav--item-icon {
							background: inherit;
							box-shadow: inherit;
						}
					}
					&:last-of-type {
						margin-left: auto;
					}
				}
				&-icon {
					width: 38px;
					top: 20px;
					svg {
						left: 11px;
					}
				}
			}
		}
	}

	&--help {
		&.active {
			& ~ .sideNav--help-container {
				display: block;
			}
		}
		&-container {
			position: absolute;
			bottom: 20px;
			left: calc(100% - 20px);
			display: none;
			width: 200px;
			padding: 15px;
			border-radius: 4px;
			background: $white;
			box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .12);
			a {
				font-size: 15px;
				font-weight: 500;
				display: block;
				width: 100%;
				padding: 5px;
				text-decoration: none;
				letter-spacing: 0.2px;
				color: $dark1;
				border-radius: 2px;
				&:hover {
					background-color: $bright2;
				}
			}
		}
		&:hover {
			.sideNav--help-text {
				color: $white;
			}
		}
	}

}
