
@font-face {
	font-family: 'AvenirNext';
	src: url('/assets/fonts/AvenirNext-UltraLight.eot');
	src: url('/assets/fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/AvenirNext-UltraLight.woff') format('woff'),
		url('/assets/fonts/AvenirNext-UltraLight.ttf') format('truetype'),
		url('/assets/fonts/AvenirNext-UltraLight.svg#AvenirNext') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNext';
	src: url('/assets/fonts/AvenirNext-Regular.eot');
	src: url('/assets/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/AvenirNext-Regular.woff') format('woff'),
		url('/assets/fonts/AvenirNext-Regular.ttf') format('truetype'),
		url('/assets/fonts/AvenirNext-Regular.svg#AvenirNext') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNext';
	src: url('/assets/fonts/AvenirNext-Medium.eot');
	src: url('/assets/fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/AvenirNext-Medium.woff') format('woff'),
		url('/assets/fonts/AvenirNext-Medium.ttf') format('truetype'),
		url('/assets/fonts/AvenirNext-Medium.svg#AvenirNext') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNext';
	src: url('/assets/fonts/AvenirNext-DemiBold.eot');
	src: url('/assets/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/AvenirNext-DemiBold.woff') format('woff'),
		url('/assets/fonts/AvenirNext-DemiBold.ttf') format('truetype'),
		url('/assets/fonts/AvenirNext-DemiBold.svg#AvenirNext') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/Lato-Light.eot');
	src: url('/assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Lato-Light.woff') format('woff'),
		url('/assets/fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SourceCode';
	src: url('/assets/fonts/SourceCodePro-Regular.eot');
	src: url('/assets/fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/SourceCodePro-Regular.woff') format('woff'),
		url('/assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}