.list {
    display: flex;
    flex-direction: column;
    float: left;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    &_empty {
        background: #F8F8F8;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 3%, #FFFFFF 100%);
        border-radius: 4px;
        margin-left: 40px;
        margin-right: 100px;
        width: 800px;
        max-width: calc(100% - 140px);
        @media screen and (max-width: 750px) {
            margin-right: 40px;
            max-width: calc(100% - 80px);
        }
    }
    &--row {
        position: relative;
        z-index: 20;
        display: flex;
        width: 100%;
        background-color: $white;
        cursor: default;
        align-items: center;
        &:not(:last-child):not(.list--header) {
            border-bottom: 1px solid #E9EAEA;
        }
        & > ul {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &-left,
        &-right,
        &-group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-self: center;
        }
        &-left {
            margin-right: 10px;
            margin-left: 20px;
            padding-top: 30px;
            align-self: flex-start;
        }
        &-right {
            margin-left: auto;
            flex: 0 0 100%;
            &:first-child {
                .list--row-group {
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
            &:not(:first-child) {
                margin: 10px 0 10px auto;
                max-width: calc(100% - 155px);
                flex: 0 0 calc(100% - 155px);
            }
            & > ul {
                width: 100%;
            }
        }
        &-group {
            position: relative;
            padding: 10px;
            min-height: 60px;
            background-color: $white;
            transition: all .3s ease;
            flex-grow: 1;
            &:hover {
                background: #F8F8F8;
                .list--showhide {
                    opacity: 1;
                }
            }
            &.is-noLocation {
                background-color: rgba(#C28536, .05);
                .col_location {
                    span {
                        color: #C28536;
                    }
                }
                &:hover {
                    background-color: rgba(#C2AD2D, .1);
                }
            }
        }
        span {
            color: $dark3;
            letter-spacing: 0.2px;
            font-size: 15px;
        }
    }
    &--showhide {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        height: 16px;
        opacity: 0;
        transition: all .3s ease;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        &-item {
            width: 16px;
            height: 16px;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &--header {
        z-index: 10;
        padding: 10px 20px;
        min-height: 60px;
        width: 100%;
        border-radius: 4px 4px 0px 0px;
        background-color: $white;
        box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.05);
        &:hover {
            background-color: inherit;
        }
        span {
            color: #31383E;
            letter-spacing: 0.2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &--showMore {
        button {
            width: 100%;
            height: 54px;
            font-weight: 500;
            font-size: 11px;
            color: $dark1;
            letter-spacing: 0.8px;
            line-height: 14px;
        }
    }

    .col {
        display: flex;
        flex-direction: row;
        float: left;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-self: center;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &_location {
            width: 125px;
        }
        &_license {
            width: 220px;
            span {
                color: $dark1;
                letter-spacing: 0.2px;
                font-weight: 500;
                font-size: 15px;
            }
        }
        &_plan {
            width: 80px;
        }
        &_date {
            width: 110px;
        }
        &_extension {
            width: 100px;
        }
        &_file {
            width: 32px;
        }
        &_amount {
            margin-left: auto;
            width: 100px;
        }
        svg {
            flex-shrink: 0;
            width: 100%;
            &.icon-signal {
                width: 16px;
                height: 16px;
            }
        }
    }

}

.list::-webkit-scrollbar { -webkit-appearance: none; }
.list::-webkit-scrollbar:vertical { width: 11px; }
.list::-webkit-scrollbar:horizontal { height: 11px; }
.list::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
}


.list_lite {
    width: 100%;
    &--row {
        width: 100%;
        min-width: 100%;
        min-height: 20px;
        float: left;
        clear: both;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &_sub {
            padding-left: 20px;
        }
    }
    &--label {
        font-weight: 500;
        font-size: 11px;
        color: $dark1;
        letter-spacing: 0.8px;
        line-height: 14px;
        width: 180px;
        margin-right: 20px;
        display: block;
    }
    &--content {
        font-size: 15px;
        color: $dark3;
        letter-spacing: 0.2px;
        line-height: 20px;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .dropdown--btn {
        color: inherit;
        font-weight: inherit;
        cursor: default;
    }
}

.list_survey {
    width: 100%;
    &_border {
        border: 1px solid $bright5;
        border-radius: 4px;
        .list_survey {
            &--item {
                padding: 20px;
                cursor: default;
                &:hover {
                    background-color: inherit;
                    .list_survey--left {
                        span {
                            color: $dark1;
                        }
                    }
                }
                .progressBar {
                    &--header {
                        &-text {
                            &.u-fright {
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    &_basic {
        .list_survey {
            &--item {
                padding: 15px 20px;
                position: relative;
                &:hover {
                    .list--showhide {
                        opacity: 1;
                    }
                }
            }
            &--header {
                position: relative;
                &:hover {
                    .list--showhide {
                        opacity: 1;
                    }
                }
                strong {
                    outline: none;
                    position: relative;
                    width: 100%;
                    &:empty {
                        &:before {
                            content: attr(placeholder);
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            font-weight: 500;
                            font-size: 15px;
                            color: $dark1;
                            letter-spacing: 0.2px;
                            line-height: 22px;
                            display: block;
                        }
                    }
                    &:focus {
                        &:before {
                            opacity: .5;
                        }
                    }
                }
            }
        }
        .progressBar {
            &--header {
                padding-bottom: 0;
            }
        }
    }
    &--header {
        padding: 14px 20px 15px;
        border-bottom: 1px solid $bright3;
        strong {
            display: block;
            font-size: 15px;
            color: $dark2;
            letter-spacing: 0.2px;
        }
    }
    &--item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 22px 40px 20px;
        user-select: none;
        cursor: pointer;
        transition: background, .5s ease;
        &:not(:last-child) {
            border-bottom: 1px solid $bright3;
        }
        &:not(&_add) {
            //padding: 0;
            [contenteditable] {
                padding: 15px 20px;
                &:before {
                    padding: 15px 20px;
                }
            }
        }
        &:hover {
            background-color: $bright2;
            .list_survey--left {
                span {
                    color: $dark3;
                }
            }
        }
        &_add {
            cursor: pointer !important;
        }
    }
    &--left {
        width: 80px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
            display: block;
            font-weight: 500;
            font-size: 15px;
            color: $dark1;
            letter-spacing: 0.2px;
            line-height: 20px;
            transition: color, 1s ease;
        }
    }
    &--right {
        float: left;
        &:first-child {
            width: 100%;
        }
        &:not(:first-child) {
            width: calc(100% - 80px - 40px);
        }
    }
}

.list_numbered {
    text-align: left;
    counter-reset: section;
    width: 100%;
    li {
        width: 100%;
        display: block;
        clear: both;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        &:before {
            counter-increment: section;
            content: counter(section);
            margin-right: 10px;
            width: 32px;
            height: 32px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: rgba($guest3, 0.08);
            font-weight: 600;
            font-size: 16px;
            color: $guest3;
            letter-spacing: 0.2px;
            line-height: 26px;
        }
    }
}