
// Z-Index Scale

$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;
$zIndex-11: 1100;


$z-index-adminWrap         : $zIndex-11;
$z-index-sideNav           : $zIndex-10;
$z-index-tooltipInner      : $zIndex-9;
$z-index-inContextPopup    : $zIndex-9;
$z-index-demoHeadline      : $zIndex-9;
$z-index-header            : $zIndex-8;
$z-index-dropdown          : $zIndex-7;
$z-index-select            : $zIndex-7;
$z-index-inputlaceholder   : $zIndex-8;
$z-index-filters           : $zIndex-6;
$z-index-topNav            : $zIndex-5;
$z-Index-weeklyChartFooter : $zIndex-4;
$z-index-sideNav-icon      : $zIndex-3;
$z-index-accBlockLogo      : $zIndex-3;
$z-index-accBlockIcon      : $zIndex-3;
$z-Index-weeklyChartBottom : $zIndex-3;
$z-index-sideNav-gradient  : $zIndex-2;
$z-Index-weeklyChartTop    : $zIndex-2;
$z-index-accBlockImage     : $zIndex-2;
$z-index-sideNav-text      : $zIndex-1;
$z-index-accBlockPrice     : $zIndex-1;
